#! /usr/bin/env bash
#SBATCH --job-name=hc_<EXPID>_<YEAR>
#SBATCH --partition=all
#SBATCH --nodes=1
#SBATCH --cpus-per-task=12
#SBATCH --output=<OUT>/log/hiresclim_<EXPID>_<YEAR>.out


# this is not working:
##SBATCH --output=hiresclim_<EXPID>_<YEAR>.out
set -e

#mkdir <OUT>/log || true

cd $ECE3_POSTPROC_TOPDIR/script
 
export NEMO_NPROCS=12
export IFS_NPROCS=12
 
#export OMP_NUM_THREADS=12
 
./master_hiresclim.sh <OPTIONS> <EXPID> <YEAR> <YREF>
