#!/usr/bin/env bash

#SBATCH --job-name=<JOBID>_<EXPID>_<Y1>
#SBATCH --partition=all
#SBATCH --nodes=1
#SBATCH --output=<OUT>/log/<JOBID>_<EXPID>_<Y1>.out

#mkdir <OUT>/log || true

set -e

cd $ECE3_POSTPROC_TOPDIR/script

