#!/usr/bin/env bash

#PBS -N <JOBID>_<EXPID>_<Y1>
#PBS -q ns
#PBS -l EC_billing_account=<ACCOUNT>
#PBS -l EC_total_tasks=1
#PBS -l EC_threads_per_task=1
#PBS -l EC_memory_per_task=24GB
#PBS -l EC_hyperthreads=1
#PBS -l walltime=04:00:00
#PBS -j oe
#PBS -o <OUT>/log/<JOBID>_<EXPID>_<Y1>.out

#mkdir <OUT>/log || true

set -e

cd $ECE3_POSTPROC_TOPDIR/script

