#!/bin/bash -l

#SBATCH -J <JOBID>_<EXPID>_<Y1>
#SBATCH -p test
#SBATCH -N 1
#SBATCH -t 00:15:00
#SBATCH -o <OUT>/log/<JOBID>_<EXPID>_<Y1>.out
#SBATCH -e <OUT>/log/<JOBID>_<EXPID>_<Y1>.out

cd $ECE3_POSTPROC_TOPDIR/script

