#!/usr/bin/bash
#SBATCH -N1
#SBATCH --ntasks=1
#SBATCH --cpus-per-task=24
##SBATCH --share

# not parallel: ~15min for a year
#     parallel: ~4min

set -e

# -- input to sed
leg_nb=<LEG_NUMBER>
expn=<EXP>

# -- INIT
t1=$(date +%s)
SRC=/lustre3/projects/PRIMAVERA/sager/ecearth3/${expn}/output

TGT=/lustre3/projects/PRIMAVERA/sager/WIP1/${expn}/output
mkdir -p $TGT

# -- nemo
cd $TGT
ln -sf ${SRC}/nemo

# -- ifs
cd ${SRC}/ifs/$(printf %03d ${leg_nb})

TGTIFS=$TGT/ifs/$(printf %03d ${leg_nb})
mkdir -p ${TGTIFS}


for f in IC*
do
    ( echo "processing $f"

      nb=${f:3:2}${f:14}
      
###     cat > rules <<-EOF
### if ( levelType is "sfc" ) 
### {
###     write "${TGTIFS}/${f}_3h";
###     if ( param is "134.128" && ( dataTime == 0 || dataTime == 600 || dataTime == 1200 || dataTime == 1800 ) )
###     {
###         write "${TGTIFS}/${f}_6h";
###     }
### }
### else 
### {
###     if ( levelType is "pl" ) 
###     {
###         if ( ( ( param is "152.128" ) && level == 1000 ) ) 
###         {
###             write "${TGTIFS}/${f}_3h";
###             if ( dataTime == 0 || dataTime == 600 || dataTime == 1200 || dataTime == 1800 )
###             {
###                  write "${TGTIFS}/${f}_6h";
###             }
###         }
###         else
###         {
###             if ( ( ( param is "131.128" || param is "132.128" ) && level == 850 ) )
###             {
###                 write "${TGTIFS}/${f}_3h";
###         	if ( dataTime == 0 || dataTime == 600 || dataTime == 1200 || dataTime == 1800 )
###         	{
###         	     write "${TGTIFS}/${f}_6h";
###         	}
###             }
###             else
###             {
###         	write "${TGTIFS}/${f}_6h";
###             }
###         }
###     }
###     else 
###     {
###         write "${TGTIFS}/${f}_6h";
###     }
### }
### EOF

    cat > rules${nb} <<-EOF
if ( dataTime == 0 || dataTime == 600 || dataTime == 1200 || dataTime == 1800 )
{
	write "${TGTIFS}/${f}_6h";
}
EOF
    
    grib_filter rules${nb} $f ) &

done
wait

# -- CLEAN

cd ${TGTIFS}
for f in *_6h
do
    ln -s $f ${f%_6h}
done
ls -l

# -- DONE

echo
t2=$(date +%s)
tr=$(date -d "0 -$t1 sec + $t2 sec" +%T)
echo "# Primavera splitting finished `date '+%F %T'` after ${tr} (hh:mm:ss)"
echo
echo "**II** SUCCESS"
