#! /usr/bin/env bash

#PBS -N hc_<EXPID>_<YEAR>
#PBS -q nf
#PBS -l EC_billing_account=<ACCOUNT>
#PBS -l EC_total_tasks=1
#PBS -l EC_threads_per_task=<NPROCS>
#PBS -l EC_hyperthreads=1
#PBS -l walltime=03:00:00
#PBS -j oe
#PBS -o <OUT>/log/hiresclim_<EXPID>_<YEAR>.out

##PBS -l EC_memory_per_task=24GB

echo '$EC_nodes           ='$EC_nodes
echo '$EC_total_tasks     ='$EC_total_tasks     
echo '$EC_threads_per_task='$EC_threads_per_task
echo '$EC_tasks_per_node  ='$EC_tasks_per_node  

set -eu

cd $ECE3_POSTPROC_TOPDIR/script

export NEMO_NPROCS=$EC_threads_per_task
export IFS_NPROCS=$EC_threads_per_task

export OMP_NUM_THREADS=$EC_threads_per_task

../hiresclim2/master_hiresclim.sh <OPTIONS> <EXPID> <YEAR> <YREF>
